/* 
font-family: 'Handlee', cursive;
 */



html{
    scroll-behavior: smooth;
}



body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

.section-title h3{
 font-weight: bolder;
 margin-bottom: 0;
}
.hr-style{
    border: 5px dotted black ;
    border-bottom: none;
    width: 50px;
    margin-top: 15px !important;
   
}



.navbar{
    padding: 1% 10%;
    background-color: rgba(0, 0,0, 0.6);
    
    
}
.navbar-brand{
    width: 60px;
    height: auto;
}


.nav-link{
    color: white;
    margin: 10px;
    border-radius: 10px;
    transition: .4s;
    font-weight: bold;
    
}
.nav-link:hover{
    background: rgb(241, 47, 47);
    color: white;
    transform: scale(1.1);
}


header{
    background-image: url("images/banner-photo.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner-container{
    height: 100vh;
}

.banner-contents h1{
    background-color: rgb(245, 224, 41, 0.8);
    
    color: rgb(5, 5, 5);
    border-radius: 25px;
    font-size: 3.5rem;
    
}
.button-radius{
    border-radius: 20px;
}

.icon{
    color: black;
}




/* features start  */

#features{
    padding: 5% 10%;
    background-color: #eb9e56;
}


.feature-col{
    border: 1px solid #f54712;
    border-radius: 5px;
    padding: 15px;
    margin: 25px 25px;
    transition: .4s;
}

.feature-col:hover{
    transform: scale(1.5);
    box-shadow: 2px 6px 5px black;
}


.icon-style{
    background-color: #df0d4c;
    padding: 15px;
    color: white;
    margin: 5px 0;
}

/* features end */




/* about me start */
#about-me{
    padding: 4% 10%;
    background-color: #fac6a4;
}

#about-me a{
    font-size: 0.9rem;
    color: black;
    font-weight: lighter;
    text-decoration: underline;
}
#about-me p{
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: lighter;
}

.font-size-change{
    font-weight: 900;
}

.star{

    width: 20px;
}

/* about me ends */





/* Tutorials start */
#tutorial{
    background: #ffaaaa;
    padding: 4% 10%;
}

.card{
    transition: .4s;
    border: 1px solid rgb(248, 168, 20);
}



.card:hover{
   
    transform: scale(1.1);
    box-shadow: 4px 6px 5px rgb(255, 119, 7);
}




/* Tutorials End */


/* Feedback Start */


#feedback{
    background: #828efa;
    padding: 5%;
    
}



.feedback-img{
    width: 120px;
    height: auto;
    margin-bottom: 5px;
    transition: .4s;
}

.feedback-img:hover{
    box-shadow: 4px 5px 5px cyan;
    transform: scale(1.1);
    
}
.carousel-item{
    text-align: center;
    padding: 7% 15%;
    font-style: italic;
    font-size: 1.2rem;
    color: rgb(7, 7, 7);
}



/* Feedback End */



/* Contact Start */
#contact{
    padding: 2% 10%;
    background-color: #828efa;
}

.form-color{
    font-family: bolder;
}
.form-group{
    margin-bottom: 0;

}

/* Contact End */



/* footer start */

footer{

    padding: 1% 10%;
    background: #056676;
}
.footer-link{
    margin-bottom: 0 10px;
    transition: .4s;
}
.footer-link:hover{
    
    transform: scale(1.7);
    color: black;
}

.footer-link1{
    margin-bottom: 0 10px;
    text-decoration: none;
}
.footer-link1:hover{
    text-decoration: underline;
}

/* footer end */



@media(max-width:768px){
    .nav-link{
        background: rgba(0,0,0,0.6);
    }

    .banner-container h1{
        font-size: 2.3rem;
    }
}